<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Azra Bašić</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="background-color:yellow">
    <h1>FAKEBOOK</H1>
    iskalnik: <input type="text" placeholder="iskanje po imenu">
<br>
<h2 class="other"> Azra Bašić</h2>
<img src= "ab.jpg"
<br>
<br>

<button> Dodaj za prijatelja</button>
<br>

<P>

<p><strong> KRAJ: </strong> Ljubljana </P>
<P><strong> STAROST: </strong> 31 let </P>
<P><strong>IZOBRAZBA: </strong> mag. upravnih ved </P>
<P><strong>HOBI: </strong> ples</P>
<P><strong>ŠTEVILO PRIJATELJEV: </strong> FUULLLL</P>
<P><strong>ŠTEVILO NEPRIJATELJEV: </strong> ?!?</P>
  </body>
</html>
